@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-slate-950 text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
